nav {
    top: 0px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 5px groove #3c49be;
    margin: 0 5px;
    box-sizing: border-box;
}

nav ul li a:hover {
    background-color: gainsboro;
}

nav ul li ul {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 19.85%;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li a {
    padding: 10px 15px;
}

#hamburger {
    margin-top: -47.5px;
    margin-right: 35px;
    float: right;
    font-size: 26px;
    display: none;
}

#toggle {
    display: none;
}

@media (max-width: 600px) {
    header {
        position: sticky;
        top: 0px;
    }
    nav {
        background-color: #fff7de;
        margin: 0;
        margin-top: -10px;
    }

    .barlist {
        display: none;
        position: absolute;
        width: 100%;
    }
    nav ul li {
        display: block;
    }
    nav ul li ul {
        width: 100%;
        z-index: 1;
    }
    #hamburger {
        display: block;
        cursor: pointer;
    }
    #toggle:checked + .barlist {
        display: block;
    }
}

