nav {
    top: 0px;
    margin-bottom: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    text-align: center;
    float: left;
}

nav ul li a {
    display: inline-block;
    border: 5px groove #3c49be;
    width: 150px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: black;
    margin: 0px 5px 0px 5px;
    background-color: white;
}

nav ul li a:hover {
    background-color: gainsboro;
}

nav ul li ul {
    display: none;
    position: absolute;
    margin-left: 0%;
    top: 100%;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 150px;
}

nav ul li ul li a {
    width: 150px;
    padding: 10px 15px;
}
