* {
    font-family: LexendRegular, Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: LexendRegular;
    src: url("Lexend-Regular.ttf");
}

@font-face {
    font-family: LexendSemiBold;
    src: url("Lexend-SemiBold.ttf");
}

h1, h2, h3, h4, h5, h6 {
        font-family: LexendSemiBold;
}

header h1 {
    padding: 20px 10px 10px 20px;
    margin: 0;
    margin-bottom: 10px;
}

body {
    margin: 0;
    background-color: #fff7de;
}

main {
    margin: 10px;
}

main p {
    font-size: 20px;
    text-indent: 15px;
}

h1 {color: #3c49be;}


#firstLetter {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.reflection p {
    text-indent: 15px;
}

footer {
    font-size: 12px;
    margin: 10px;
}

.box {
    width: 500px;
    height: 220px;
    background-image: url(images/Green-grass-on-transparent-background-PNG.png);
    background-size: cover;
}

.professionalPhoto {
    float: right;
    margin: 0 5px 0 5px;
    width: 200px;
}

@media (max-width: 2000px) {
    main p {
        font-size: 18px;
    }
}

@media (max-width: 1020px) {
    .professionalPhoto {
        width: 20%;
    }
}

@media (max-width: 600px) {
    main p {
        font-size: 20px;
    }
    .professionalPhoto {
        width: 40%;
    }
}

@media print {
    @page {
        margin: 1in;
    }
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family: serif;
    }
    h1 {
        font-family: LexendSemiBold;
    }
    h3 {
        font-family: serif;
    }
    nav {
        display: none;
    }
    .professionalPhoto {
        display: none;
    }
    .resumeLink {
        display: none;
    }
}