h1 {color: #3c49be;}

#firstLetter {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.reflection {
    font-family: Helvetica, serif;
    text-align: left;
}

.reflection p {
    text-indent: 15px;
}

footer {
    font-size: 12px;
}